/*================================================*
  Toolbar
 *================================================*/
.ft-bar {
  .ft-bar-bg-layer-2 {
    background-color: var(--color-gray-100);
  }
}

/*================================================*
  Tray
 *================================================*/
.tray {
  .tray-bg-layer-1 {
    background-color: var(--color-gray-100);
  }
}

/*================================================*
  Wlan
 *================================================*/
.wlan-selector {
  .wlan-selector-bg-layer-1 {
    background-color: var(--color-gray-100);
  }
}

/*================================================*
  Media
 *================================================*/
.media-control {
  .bg-layer-1 {
    background-color: var(--color-gray-100);
  }

  .media-control-label {
    &:not(:first-of-type) {
      border-top: solid 1px var(--color-gray-200);
    }
  }

  .media-device {
    font-weight: 300;
  }
}

/*================================================*
  Notifications
 *================================================*/
.notifications {
  .bg-layer-2 {
    opacity: 1;
    background-color: var(--color-gray-100);
  }
}

/*================================================*
  Fast settings
 *================================================*/
.fast-settings {
  .fast-settings-bg-layer-1 {
    background-color: var(--color-gray-100);
  }

  .fast-settings-label {
    &:not(:first-of-type) {
      border-top: solid 1px var(--color-gray-200);
    }
  }

  .fast-settings-item-button {
    border: none;
    background-color: rgba(var(--config-accent-color-rgb), 0.2);

    &:hover {
      background-color: rgba(var(--config-accent-color-rgb), 0.5);
    }
  }
}